@model ScheduleUserEditViewModel
@{
	ViewData["Title"] = "UserEdit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-controller="Schedule" asp-action="UserEdit" enctype="multipart/form-data">
	<h1>Edycja przypisanych zadań dla @Model.User.FullName</h1> <button type="submit" class="btn btn-primary float-right title-btn btn-lg">Zapisz</button>
	@Html.HiddenFor(m => m.UserId)
	@Html.HiddenFor(m => m.AssignedJobs)
<span style="display:inline-block">
	@Html.ValidationMessageFor(m => m.AssignedJobs, null, new { @class = "text-danger " })
</span>
</form>

<hr />
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				Zadania przypisane
			</div>
			<div class="card-body">
				<ul id="userEditSortable-AssignedJobs" class="connectedSortable">
					@foreach (JobViewModel item in Model.User.Jobs)
					{
					<li id="job_@item.Id">
						<div class="card job-card">
							<div class="card-header">
								@Html.ActionLink(item.Name, "Details", "Job", new { id = item.Id }, new { @class = "object-link" })
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col">
										Budynek
										<hr />
										@Html.ActionLink(item.Building.FullAddress, "Details", "Building", new { id = item.IdBuilding }, new { @class = "object-link" })
									</div>
									<div class="col">
										Przypisani
										<hr />
										@foreach (var user in item.Users)
										{
											@Html.ActionLink(user.FullName, "Details", "User", new { id = user.Id }, new { @class = "object-link" })
											<br />
										}
									</div>
								</div>
							</div>
						</div>
					</li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-header">
				Wszystkie zadania
				<hr />
				<h6 class="card-subtitle text-muted filter-header" aria-label="Filtr" data-toggle="collapse" data-target=".alljobs-filter-collapse" aria-controls="alljobs-filter-collapse">
					Filtr
					<div class="bi-chevron-up-container">
						<i class="bi bi-chevron-up alljobs-filter-collapse" id=""></i>
					</div>
				</h6>
				<div class="collapse alljobs-filter-collapse" id="Alljobs-filter-content">

						<div class="input-group mb-3">
							<input name="filter_asignedName" type="text" class="form-control" placeholder="Imię" aria-label="Imię">
							<span class="input-group-text">Przypisani</span>
							<input name="filter_asignedSurname" type="text" class="form-control" placeholder="Nazwisko" aria-label="Nazwisko">
						</div>
						<div class="input-group mb-3">
							<input name="filter_jobName" type="text" class="form-control" placeholder="Nazwa zadania" aria-label="Nazwa zadania" />
						</div>
						<div class="input-group mb-3">
							<input name="filter_building" type="text" class="form-control" placeholder="Adres Budynku" aria-label="Adres Budynku" />
						</div>
				</div>

			</div>
			<div class="card-body">
				<ul id="userEditSortable-AllJobs" class="connectedSortable">
					@foreach (JobViewModel item in Model.AllJobs)
					{
						<li id="job_@item.Id">
							<div class="card job-card">
								<div class="card-header">
									@Html.ActionLink(item.Name, "Details", "Job", new { id = item.Id }, new { @class = "object-link" })
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col">
											Budynek
											<hr />
											@Html.ActionLink(item.Building.FullAddress, "Details", "Building", new { id = item.IdBuilding }, new { @class = "object-link" })
										</div>
										<div class="col">
											Przypisani
											<hr />
											@foreach (var user in item.Users)
											{
												@Html.ActionLink(user.FullName, "Details", "User", new { id = user.Id }, new { @class = "object-link" })
												<br />
											}
										</div>
									</div>
								</div>
							</div>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/scheduleUserEditFilter.js"></script>
}